<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Products</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${products}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="null">No hay productos</h2>
				<div th:case="*">
					<h2 class="my-5">Productos</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>

								<th>id</th>
								<th>name</th>
								<th>daystomanufacture</th>
								<th>number</th>
								<th>size</th>
								<th> </th>
								<th>weight</th>
								<th> </th>
								<th>sellstartdate</th>
								<th>sellenddate</th>
								<th>model</th>
								<th>subcategory</th>
								<th>workorders</th>
								<th>edit</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p : ${products}">
								<td th:text="${p.productid}"></td>
								<td th:text="${p.name}"></td>
								<td th:text="${p.daystomanufacture}"></td>
								<td th:text="${p.productnumber}"></td>
								<td th:text="${p.size}"></td>
								<td th:text="${p.unitmeasure1.name}"></td>
								<td th:text="${p.weight}"></td>
								<td th:text="${p.unitmeasure2.name}"></td>
								<td th:text="${p.sellstartdate}"></td>
								<td th:text="${p.sellenddate}"></td>
								<td th:text="${p.productmodel.name}"></td>
								<td th:text="${p.productsubcategory.name}"></td>
								<td><a th:href="@{/Workorder/{id}(id=${p.productid})}"
									class="btn btn-primary"><i class="far fa-address-card"></i></a></td>
								<td><a
									th:href="@{/product/edit/{id}(id=${p.productid})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
								<!-- <td><a
									th:href="@{/product/delete/{id}(id=${p.productid})}"
									class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td> -->
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<p class="my-5">
					<a href="/product/add" class="btn btn-primary"><i
						class="fas fa-user-plus ml-2"></i></a>
				</p>
				<br>
				<p>
					<a href="/operator/operator.html"><i class="fas fa-home ml-2"></i>
						Go back</a>
				</p>
			</div>

		</div>
</body>
</html>