<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Workorder</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${workorder}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="null">No hay ordenes de trabajo</h2>
				<div th:case="*">
					<h2 class="my-5">Ordenes de trabajo</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>

								<th>workorderid</th>
								<th>startdate</th>
								<th>enddate</th>
								<th>orderqty</th>
								<th>scrappedqty</th>
								<th>product</th>
								<th>scrapreason</th>
								<th>edit</th>
								<!-- <th>delete</th> -->
							</tr>
						</thead>
						<tbody>
							<tr th:each="wo : ${workorder}">
								<td th:text="${wo.workorderid}"></td>
								<td th:text="${wo.startdate}"></td>
								<td th:text="${wo.enddate}"></td>
								<td th:text="${wo.orderqty}"></td>
								<td th:text="${wo.scrappedqty}"></td>
								<td th:text="${wo.scrapreason.name}"></td>
								<td th:text="${wo.product.name}"></td>
								<td><a
									th:href="@{/workorder/edit/{id}(id=${wo.workorderid})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
								<!-- <td><a
									th:href="@{/product/delete/{id}(id=${p.productid})}"
									class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td> -->
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<p class="my-5">
					<a href="/workorder/add" class="btn btn-primary"><i
						class="fas fa-user-plus ml-2"></i></a>
				</p>
				<br>
				<p>
					<a href="/operator/operator.html"><i class="fas fa-home ml-2"></i>
						Go back</a>
				</p>
			</div>

		</div>
</body>
</html>